.login {
    position: relative;
    width: 100%;
    max-width: 850px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 60px #444444;
}

.login__header {
    position: absolute;
    top: 10px;
    font-family: Montserrat;
    font-weight: 800;
    color: #444444;
}

.login__form-container {
    height: 100%;
    width: calc(100% - 374.94px);
}

.login__form-container form {
    position: relative;
    height: 100%;
    gap: 40px;
    width: 100%;
}

.login__image {
    height: 100%;
}

.login__image img {
    height: 100%;
}

.login__submit {
    position: absolute;
    bottom: 20px;
    height: 45px;
    width: 75%;
    background-color: var(--color-4);
    font-weight: 700;
    font-size: 25px;
    border: 1px solid orange;
}